
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'poppins' , sans-serif;
   /* background-color: rgb(0, 21, 36);  */
    /* overflow: hidden; */
   border: none;
   overflow-x: hidden;
   
    

}
.hero{
    width: 101vw;
    height: 102vh;
    background-image: linear-gradient(rgba(0, 21, 36 ,0.5%),rgba(0,21,36,0.5%));  
    position: absolute;
    /* padding: 0.5%; */
    display: flex;
    align-items: center;
    justify-content: center;
    background-position: center;
    background-size: cover;
    /* overflow-y: scroll; */
    /* overflow-x:none; */

}


nav{
    width: 150;
    position: absolute;
    top: 0;
    left: 0;
    padding: 20px 8%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    


}
h2{
    color: black;
}
nav .logo{
    width: 90px;
    color:whitesmoke;
    /* justify-content: space-between; */
}
nav ul li{
    list-style: none;
    display: inline-block;
     margin-left: 35px; 
 color:whitesmoke;
  /* position: relative;  */
  justify-content: space-evenly;

}
nav ul li a{
    text-decoration: none;
    color: rgb(253, 229, 212);
    font-size: 17px;
}
.navbar a:hover {
    /* background-color: #720660; */
    background-color: #000;
    border-radius: 5px;
  }

.con{
    /* <solve> */
    font-size: 20px;
    color: aliceblue;
    z-index: 1;
   position: fixed;
   /* background-color: #000; */
   /* height: 62vh; */
  

}


.con h1{
    font-size: 160px;
    color:whitesmoke;
    font-weight: 600;
}
.con h1:hover{
      -webkit-text-stroke: 2px whitesmoke;
      color: transparent;
}
.con p{
    font-size: 43px;
    color: whitesmoke;
    font-weight: 10;
    margin-top:-1.3vh;
}
.con a{
    text-decoration: none;
    display: inline-block;
    color: whitesmoke;
    font-size: 24px;
    border:2px solid whitesmoke;
    padding: 15px 70px;
    border-radius: 50px;
    text-align: center;
    margin-left: 12vw;
}
.templet{
    height: 80vh;
    width: 100vw;
    background-color: black;
    z-index: 2;
    position: absolute;
    margin-top: 1000px;
}.header{
    height: 10vh;
    width: 100%;
    background-color:black;
}

@import url('https://fonts.googleapis.com/css2?family=Kanit:wght@300&family=Raleway:wght@300&family=Shadows+Into+Light&display=swap');

/* * { margin: 0; 
    padding: 0;
     
 } */

body {
      height: 100vh;
     /* background: linear-gradient(to right, rgb(33, 27, 27), rgb(27, 60, 27)); */
     color: #fff; 
     display: flex;
     justify-content: center;
     align-items: center;
     display: block;
     box-sizing: border-box;
      font-family: 'kanit';
      font-size: 13.5px;
}    

.flip-card {
        width: 750px;
        height: 500px;
        perspective: 100px;
        cursor: pointer;
        /* background-color: #8f7777; */
        overflow: hidden;
        margin-top: 50px;
}
.flip-card-inner {
     width: 70%;
      height: 99.9%;
     transition:transform 1.5s;
     transform-style: preserve-3d;
     }

.flip-card:hover .flip-card-inner{
    transform:rotateY(180deg);
}

.flip-card-front, 
.flip-card-back {
    position: absolute;
    width: 100%;
    height: 90%;
    backface-visibility: hidden;
    border-radius: 24px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    text-align: center;
    align-items: center;
    background: #8f7777;
    
}
.flip-card-back {
    background-image: url('img1.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    justify-content: center;
    
}
    
   
.flip-card-front {
    
    background: #382e2e;
    color: #fff;
    transform: rotateY(180deg);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    gap: 24px;
    padding: 0px 18px;

}
p{
    position: absolute;
    z-index: 2;
}

.flip-card3 {
    width: 750px;
    height: 500px;
    perspective: 100px;
    cursor: pointer;
    /* background-color: #8f7777; */
    overflow: hidden;
    margin-top: 50px;
}
.flip-card3-inner {
 width: 70%;
  height: 99.9%;
 transition:transform 1.5s;
 transform-style: preserve-3d;
 }

.flip-card3:hover .flip-card3-inner{
transform:rotateY(180deg);
}

.flip-card3-front, 
.flip-card3-back {
position: absolute;
width: 100%;
height: 90%;
backface-visibility: hidden;
border-radius: 24px;
box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
text-align: center;
align-items: center;
background: #8f7777;

}
.flip-card3-back {
    background-image: url('img3.jpg');
background-repeat: no-repeat;
background-size: cover;
background-position: center;
justify-content: center;

}


.flip-card3-front {

background: #382e2e;
color: #fff;
transform: rotateY(180deg);
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
text-align: center;
gap: 24px;
padding: 0px 18px;

}


.flip-card2 {
    width: 750px;
    height: 500px;
    perspective: 100px;
    cursor: pointer;
    /* background-color: #8f7777; */
    overflow: hidden;
    margin-top: 50px;
}
.flip-card2-inner {
 width: 70%;
  height: 99.9%;
 transition:transform 1.5s;
 transform-style: preserve-3d;
 }

.flip-card2:hover .flip-card2-inner{
transform:rotateY(180deg);
}

.flip-card2-front, 
.flip-card2-back {
position: absolute;
width: 100%;
height: 90%;
backface-visibility: hidden;
border-radius: 24px;
box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
text-align: center;
align-items: center;
background: #8f7777;

}
.flip-card2-back {
/* background-image: url('img2.jpg'); */
background-repeat: no-repeat;
background-size: cover;
background-position: center;
justify-content: center;

}


.flip-card2-front {

/* background: #382e2e; */
background: url(img1.jpg);
color: #fff;
transform: rotateY(180deg);
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
text-align: center;
gap: 24px;
padding: 0px 18px;

}


.templet{
    flex-direction: row;
    background-color: black;
    width: 101vw;
    display: flex;
    justify-content: space-evenly;

    
}
.adjust1{
    height: 10vh;
    width: 100%;
    background-color: aqua;
}
.container
{
    position:absolute;
    display: flex;
    background-size: cover;
    justify-content: center;
    align-items: center;
    max-width: 1200px;
    z-index: 1;
    overflow: hidden;
}
.container .card
{
    position: relative;
    background:url(img1.jpg);
    width: 400px;
    height: 550px;
    margin: 20px;
    box-shadow: 20px 20px 50px rgba(0, 0, 0, 0.5);
    border-radius: 10px;
    background-color: #0a2a43;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    border-top: 1px solid rgba(225, 225, 225, 0.5);
    border-left: 1px solid rgba(225, 225, 225, 0.5);
    backdrop-filter: blur(5px);
}
.container .card .content
{
    padding: 20px;
    height: 100%;
    text-align: center;
    transform: translateY(100px);
    opacity: 0;
    transition: 0.5s;
    overflow: hidden;
}
.container .card:hover .content
{
    transform: translateY(0px);
    opacity: 1;
}
.container .card .content h2
{
    position: absolute;
    top: -140px;
    right: -10px;
    font-size: 8em;
    color: rgba(211, 204, 204, 0.377);
    /* pointer-events: none; */
}
.container .card .content h3
{
    font-size: 2em;
    color: #fff;
    z-index: 1;
}
.container .card .content p
{
    font-size: 1.8em;
    color: #fff;
    font-weight: 300;
}
.container .card .content a
{
   position: relative;
    display: inline-block;
    padding: 8px 30px;
    margin-top: 15px;
    background: #fff;
    color: #000;
    border-radius: 20px;
    text-decoration: none;
    font-weight: 500;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);
}